@ -0,0 +1,33 @@
# Игнорируем скомпилированные бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорируем временные файлы Go
*.test
*.out

# Игнорируем директории и файлы, создаваемые инструментами разработки
vendor/
.idea/
.vscode/
*.swp
*.swo
*.bak

# Игнорируем директории Go build
bin/
build/
dist/

# Игнорируем файлы конфигурации Go, созданные автоматически
.go-build/
.go-vars/

# Игнорируем сгенерированные файлы
*.log

# Игнорируем файлы, специфичные для IDE (например, для IntelliJ или GoLand)
*.iml
